SECRET_KEY="8n47ma!3%cfdm3cgt)@1ozjo7+^!j+z18@+0f-2+!p6ba^kof_"
DB_NAME="bptl"
DB_USER="bptl"
#
# For peer authentication via unix domain socket
# these should be kept empty.
#
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
