.form-field {
  display: block;

  & + & {
    margin-top: 2em;
  }

  & &__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #949494;
    padding: 0.5em;

    font-size: 1rem;
    color: $font-color;

    &:focus,
    &:active {
      border-bottom-width: 2px;
      outline: none;
    }
  }

  & &__help {
    display: flex;
    color: lighten($font-color, 20%);
    align-items: center;
    padding: 0.5em;
    font-style: italic;

    .material-icons {
      display: block;
      font-size: 1.2rem;
      margin-right: 0.5em;
    }
  }
}
