@import "../lib/colors";

.task-details {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;

  &#{&}--header {
    .task-details__topic,
    .task-details__description {
      color: $font-color;
    }
  }

  & &__topic {
    display: block;
    width: 33%;
    color: $theme-primary-color;
  }

  & &__description {
    display: block;
    width: 66%;
  }
}
