{% extends "master.html" %}
{% load i18n %}


{% block breadcrumbs %}{% endblock %}

{% block content-header-subtitle %}{% trans "Manage BPTL building blocks" %}{% endblock %}
{% block content-header-title %}{% trans "BP Task Library Configuration" %}{% endblock %}
{% block content-header-explanation %}
{% blocktrans trimmed %}
    De BPTL pikt taken op van externe processen.
    <br>
    In deze omgeving kan je bestaande functies/bouwblokken configureren voor je processen,
    en die opnemen in je procesmodel.
{% endblocktrans %}
{% endblock %}


{% block content %}
<h4>Tasks by their statuses:</h4>
<article class="dashboard">
    <div class="dashboard__chart" id="piechart" data-url="{% url 'dashboard:dashboard-api:aggregate' %}">
    </div>

    <div class="dashboard__filter">
        <label class="dashboard__checkbox"><input type="checkbox" name="engine" value="camunda" checked/>Camunda</label>
        <label class="dashboard__checkbox"><input type="checkbox" name="engine" value="activiti" checked/>Activiti</label>
    </div>

</article>

<p>
    <a href="{% url 'dashboard:task-list' %}">
        {% trans "View tasks details" %}
    </a>
</p>

<article class="index">
    <a class="index__item" href="{% url 'tasks:taskmapping-list' %}">
        {% trans "View task mappings" %}
    </a>
</article>

<section class="index-admin">
    <span>Go to <a href="{% url 'admin:index' %}">admin</a></span>
</section>
{% endblock %}
