{% extends "email/mails/base.html" %}
{% load i18n %}{% block body %}<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Wij hebben de door jou aangeleverde documenten bekeken en vragen je de onderstaande wijzigingen hier te doen: </p>
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">{{ email.content }}</p>
<p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">De gewijzigde documenten kun je opnieuw indienen.</p>
{% endblock %}