{% extends "admin/base.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Xential templates' %}
</div>
{% endblock %}

{% block content_title %}<h1>Xential templates</h1>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        {% for template_group in template_groups %}
            <h2
                title="This template group comes from the api {{ template_group.api }}"
                style="cursor: help"
            >
                Template Group {{ template_group.name }}
            </h2>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>{% trans 'Template name' %}</th>
                        <th>{% trans 'UUID' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for template in template_group.templates %}
                    <tr>
                        <td>{{ template.name }}</td>
                        <td>{{ template.uuid }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div>
{% endblock %}
