{% extends "mails/openklant_base.html" %}
{% load i18n %}{% block body %}
<p>
  Het is ons niet gelukt om de inwoner, het bedrijf of de instelling naar je door te verbinden. 
  We willen je daarom vragen om <strong>binnen 48 uur</strong> contact op te nemen met de betrokkene. 
  Hieronder vind je de gegevens en het onderwerp.
</p>
<table role="presentation" width="100%" cellpadding="0" cellspacing="0">
  <tr class="row">
    <td class="label-cell">Onderwerp:</td>
    <td class="value-cell">{{ onderwerp }}</td>
  </tr>
  <tr class="row">
    <td class="label-cell">Toelichting voor de collega:</td>
    <td class="value-cell">{{ toelichting }}</td>
  </tr>
  <tr class="row">
    <td class="label-cell">Naam:</td>
    <td class="value-cell">{{ naam }}</td>
  </tr>
  <tr class="row">
    <td class="label-cell">Telefoonnummer:</td>
    <td class="value-cell">{{ telefoonnummer }}</td>
  </tr>
  <tr class="row">
    <td class="label-cell">E-mailadres:</td>
    <td class="value-cell">{{ email }}</td>
  </tr>
</table>
{% endblock %}
