{% extends "master.html" %}
{% load i18n dashboard humanize %}

{% block content-header-subtitle %}{% trans "View task details" %}{% endblock %}
{% block content-header-title %}{% trans "Task " %}{{ task.id }}{% endblock %}

{% block crumbs %}
    <li class="breadcrumbs__item"><a href="{% url 'dashboard:task-list' %}">Tasks</a></li>
{% endblock %}


{% block content %}

<article class="task-desc">

    <section class="task-desc__section">
        <h2>General information</h2>
        <div class="task-desc__row">
            <div class="task-desc__name">
                Type
            </div>
            <div class="task-desc__value">
                {{ task|task_type }}
            </div>
        </div>

        <div class="task-desc__row">
            <div class="task-desc__name">
                Status
            </div>
            <div class="task-desc__value">
                {{ task.get_status_display }}
            </div>
        </div>

        <div class="task-desc__row">
            <div class="task-desc__name">
                Topic name
            </div>
            <div class="task-desc__value">
                {{ task.topic_name }}
            </div>
        </div>

        <div class="task-desc__row">
            <div class="task-desc__name">
                Variables
            </div>
            <div class="task-desc__value task-desc__value--long">
                <pre>{{ task.get_variables | pretty_json }}</pre>
            </div>
        </div>

        <div class="task-desc__row">
            <div class="task-desc__name">
                Result variables
            </div>
            <div class="task-desc__value task-desc__value--long">
                <pre>{{ task.result_variables | pretty_json }}</pre>
            </div>
        </div>

        <div class="task-desc__row">
            <div class="task-desc__name">
                Execution error
            </div>
            <div class="task-desc__value task-desc__value--long">
                <pre>{{ task.execution_error }}</pre>
            </div>
        </div>
    </section>

    <section class="task-desc__section">
        <h2>Engine specific information</h2>
        {% if task|task_type == 'Camunda' %}
            <div class="task-desc__row">
                <div class="task-desc__name">
                    Worker ID
                </div>
                <div class="task-desc__value">
                    {{ task.worker_id }}
                </div>
            </div>

            <div class="task-desc__row">
                <div class="task-desc__name">
                    Priority
                </div>
                <div class="task-desc__value">
                    {{ task.priority }}
                </div>
            </div>

            <div class="task-desc__row">
                <div class="task-desc__name">
                    Task ID
                </div>
                <div class="task-desc__value">
                    {{ task.task_id }}
                </div>
            </div>

            <div class="task-desc__row">
                <div class="task-desc__name">
                    Lock expires at
                </div>
                <div class="task-desc__value">
                    {{ task.lock_expires_at }}
                </div>
            </div>

        {% else %}
            <p>There is no additional data</p>
        {% endif %}
    </section>

    <section class="task-desc__section">
        <h2>Task steps</h2>
        <div class="task-desc__row">
            <div class="task-desc__name">
                <strong>Status</strong>
            </div>
             <div class="task-desc__value">
                <strong>Time</strong>
            </div>
        </div>
        {% for status_log in task.status_logs %}
            <div class="task-desc__row">
                <div class="task-desc__name">
                    {{ status_log.extra_data.status|display_status }}
                </div>
                 <div class="task-desc__value" title="{{ status_log.timestamp}}">
                    {{ status_log.timestamp|naturaltime }}
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="task-desc__section">
        <h2>Request logs</h2>
        <table class="task-desc__table">
            <tr>
                <th>Method</th>
                <th>Url</th>
                <th>Response code</th>
                <th>Time</th>
            </tr>
            {% for request_log in task.request_logs %}
                <tr>
                    <td>{{ request_log.extra_data.request.method }}</td>
                    <td>{{ request_log.extra_data.request.url | urlize }}</td>
                    <td>{{ request_log.extra_data.response.status }}</td>
                    <td title="{{ request_log.timestamp}}">{{ request_log.timestamp|naturaltime }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

</article>
{% endblock %}
