@import "../lib/colors";

.task {
  display: flex;
  flex-flow: row wrap;

  & &__table {
    flex-basis: 75%;
    padding: 0 2em 1em 0;
  }

  & &__filter {
    flex-basis: 25%;
    background: $filter-background-color;
    padding: 0 1em 1em 1em;
  }

  & &__row {
    display: flex;
    padding: 1em 0;
    border-bottom: solid 1px #eeeeee;

    &:last-child {
      border-bottom: none;
    }
  }

  & &__row--header {
    .task__topic,
    .task__variables {
      border-bottom: solid 2px $theme-primary-color;
    }
  }

  & &__topic {
    flex-basis: 15%;
  }

  & &__variables {
    flex-basis: 20%;
  }

}
