@import "../lib/colors";

.task-desc {
  & &__section {
    padding-bottom: 2em;

  }

  & &__section--flex {
    display: flex;
    flex-flow: row wrap;
  }

  & &__col {
    width: 50%;
    padding-right: 2em;

    &:last-child {
      padding-right: 0;
    }
  }

  & &__row {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    border-bottom: solid 1px #eeeeee;

    &:last-child {
      border-bottom: none;
    }
  }


  & &__name {
    width: 30%;
  }

  & &__value {
    width: 70%;
  }

  & &__value--long {
    overflow-x: auto;
  }

  & &__item {
    width: 25%;
    word-wrap: break-word;
    padding-right: 0.5em;

    &:last-child {
      padding-right: 0;
    }
  }
}
